apiVersion: v1
metadata:
  name: {{ cluster_name }}
baseDomain: {{ base_domain }}
compute:
  - hyperthreading: Enabled
    name: worker
    replicas: {{ [ove_node_count | int - ove_master_count | int, 0] | max }}
controlPlane:
  hyperthreading: Enabled
  name: master
  replicas: {{ ove_master_count }}
networking:
  clusterNetwork:
    - cidr: 10.128.0.0/14
      hostPrefix: 23
  machineNetwork:
    - cidr: {{ mgmt_network_cidr }}
  networkType: OVNKubernetes
  serviceNetwork:
    - 172.30.0.0/16
platform:
  baremetal:
    apiVIPs:
      - {{ api_vip }}
    ingressVIPs:
      - {{ ingress_vip }}
pullSecret: {{ pull_secret | to_json }}
sshKey: "{{ bastion_ssh_public_key }}"
