SUSHY_EMULATOR_LISTEN_IP = u'0.0.0.0'
SUSHY_EMULATOR_LISTEN_PORT = {{ sushy_port }}
SUSHY_EMULATOR_SSL_CERT = None
SUSHY_EMULATOR_SSL_KEY = None
SUSHY_EMULATOR_AUTH_FILE = "/root/sushy-emulators.htpasswd"
SUSHY_EMULATOR_OS_CLOUD = "sushy-cloud"
SUSHY_EMULATOR_OS_VMEDIA_IMAGE_FILE_UPLOAD = True
SUSHY_EMULATOR_OS_VMEDIA_BLANK_IMAGE = '{{ sushy_blank_image }}'
SUSHY_EMULATOR_OS_VMEDIA_DELAY_EJECT = False
SUSHY_EMULATOR_FEATURE_SET = 'vmedia'
